# gitignore format: https://git-scm.com/docs/gitignore

# Secrets
.env

# Packages
node_modules/
.bin/

# Generated / Temp Files
.DS_Store
.direnv/
recipe.json

# Outputs
target/
dist/
megalinter-reports/
result
